<div class="contact pt-5 text-center">
    <h1 class="text-cyan text-center mb-5">Contact Me!</h1>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12 my-3">
                    <h3 class="text-cyan">Email</h3>
                    <h3 class="text-white">tvalley93@gmail.com</h3>
                </div>
                <div class="col-12 my-3">
                    <h3 class="text-cyan">Phone</h3>
                    <h3 class="text-white">334-805-7113</h3>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-cyan mb-5">Links</h3>
                </div>
                <div class="col-12">
                    <a href="https://github.com/tylerjvalley" target="_blank" class="github">
                        <img class="mx-3" src="assets/img/home/github.svg" />
                    </a>
                    <a href="https://gitlab.com/tylerjvalley" target="_blank"  class="gitlab">
                        <img class="mx-3" src="assets/img/home/git.svg" />
                    </a>
                    <a href="https://www.linkedin.com/in/tyler-valley-469b58128/" target="_blank"  class="linkedin">
                        <img class="mx-3" src="assets/img/home/linkedin.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
