<div class="footer container-fluid text-center mt-5 background-black py-5">
    <div class="row">
        <div class="col-12">
            <p class="text-teal">tvalley93@gmail.com</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 col-md-4">
            <img src="assets/img/home/github.svg" />
        </div>
        <div class="col-12 col-md-4 my-4 my-md-0">
            <img src="assets/img/home/linkedin.svg" />
        </div>
        <div class="col-12 col-md-4">
            <img src="assets/img/home/facebook.png" />
        </div>
    </div>
    <p class="text-light-grey my-5">&copy; 2021 Tyler Valley</p>
    <div class="up-arrow py-3 my-5 mx-auto">
        <img class="arrow" src="assets/img/home/up-arrow.png" />
    </div>
</div>