@import '../../../styles.scss';
.footer {
    width: 100%;
    height: 700px;
    border-radius: 50%;
    border-top: 3px solid $light-grey;

    @media (min-width: 768px) {
       height: 600px;
    }

    ::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        margin-left: -100vw;
        z-index: -1;
        border-radius: 50%;
    }

    img {
        height: 30px;
        width: 30px;
    }

    .up-arrow {
        background: $white;
        border-radius: 50%;
        width: 100px;
        .arrow {
            height: 50px;
            width: 50px;
        }
    }

    a {
        color: $cyan;
        text-decoration: none;

        :hover {
            text-decoration: underline;
        }
    }
}