<div class="footer container-fluid text-center mt-5 background-black py-5">
    <div class="row">
        <div class="col-12">
            <p class="text-teal">tvalley93@gmail.com</p>
        </div>
    </div>
    <div class="row my-3 justify-content-center">
        <div class="col-12 col-md-2">
            <img src="assets/img/home/github.svg" />
        </div>
        <div class="col-12 col-md-2 my-4 my-md-0">
            <img src="assets/img/home/linkedin.svg" />
        </div>
        <div class="col-12 col-md-2">
            <img src="assets/img/home/facebook.png" />
        </div>
    </div>
    <p class="text-light-grey my-5">&copy; 2021 Tyler Valley</p>
    <p class="text-light-grey">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    <p class="text-light-grey">Photo by <a href="https://www.pexels.com/photo/black-and-gray-laptop-computer-546819/">Luis Gomes</a> from Pexels</p>

    <p class="text-light-grey">Photo by <a href="https://www.pexels.com/photo/white-apple-iphone-on-wooden-table-48605/">Tyler Lastovich</a> from Pexels</p>
    <div class="up-arrow py-3 my-5 mx-auto" (click)="scrollTop()">
        <img class="arrow" src="assets/img/home/up-arrow.png" />
    </div>
</div>