<div class="home-page text-center ">
    <div class="container m-auto pb-3">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white">Tyler Valley</h1>
                <h4 class="text-white">Full Stack Developer</h4>
            </div>
        </div>
    
        <div class="row icons justify-content-between my-5">
            <div class="col-3">
                <a href="https://github.com/tylerjvalley" target="_blank" class="github">
                    <img src="assets/img/home/github.svg" />
                </a>
                <p class="text-white my-3">Github</p>
            </div>
            <div class="col-3">
                <a href="https://gitlab.com/tylerjvalley" target="_blank"  class="gitlab">
                    <img src="assets/img/home/git.svg" />
                </a>
                <p class="text-white my-3">Gitlab</p>
            </div>
            <div class="col-3">
                <a href="https://www.linkedin.com/in/tyler-valley-469b58128/" target="_blank"  class="linkedin">
                    <img src="assets/img/home/linkedin.svg" />
                </a>
                <p class="text-white my-3">LinkedIn</p>
            </div>
        </div>
    </div>
</div>

