@import '../../../styles.scss';

.home-page {
    background: $black;

    .information {
        margin-top: 100px;
        background-image: url('https://media.giphy.com/media/KX81UwrGWMbGH0WvWR/giphy.mp4');
        .icons {
           
            margin: 100px auto 100px auto;
           
            img {
                height: 60px;
                width: 60px;
            }
        }
    }

    .cards {
        margin: 100px auto 100px auto;
    }

    .projects {
        .project {
            max-width: 220px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            border-radius: 8%;
           
        }
        .earnbet {
            background-image: url('../../../assets/img/home/earnbet.png');
        }
        .bethehouse {
            background-image: url('../../../assets/img/home/bethehouse.png');
        }
        .stacker {
            background-image: url('../../../assets/img/home/stacker.png');
        }
    }

    .see-more {
        background: transparent;
        border-radius: 8px;
        border-color: $cyan;
        color: $white;
    }

    .about-paragraph {
        width: 100%;
        margin: 100px auto 100px auto;

        @media (min-width: 900px) {
            width: 500px;
        }

        p {
            line-height: 30px;
            font-size: 20px;
        }
    }

   
}