<div class="home-page text-center pt-5">
    
    <div class="container information m-auto pb-3">
        <div class="row">
            <div class="col-12">
                <h1 class="text-cyan">Tyler Valley</h1>
                <h4 class="text-white">Full Stack Developer</h4>
            </div>
        </div>
    
        <div class="row icons justify-content-between my-5">
            <div class="col-3">
                <a href="https://github.com/tylerjvalley" target="_blank" class="github">
                    <img src="assets/img/home/github.svg" />
                </a>
                <p class="text-white my-3">Github</p>
            </div>
            <div class="col-3">
                <a href="https://gitlab.com/tylerjvalley" target="_blank"  class="gitlab">
                    <img src="assets/img/home/git.svg" />
                </a>
                <p class="text-white my-3">Gitlab</p>
            </div>
            <div class="col-3">
                <a href="https://www.linkedin.com/in/tyler-valley-469b58128/" target="_blank"  class="linkedin">
                    <img src="assets/img/home/linkedin.svg" />
                </a>
                <p class="text-white my-3">LinkedIn</p>
            </div>
        </div>
    </div>

    <div class="container cards">
        <div class="row m-auto">
            <div class="col-12 projects">
                <h4 class="text-white">Projects</h4>
                <div class="row flex-column">
                    <div class="col-12 project earnbet w-50 py-5 mx-auto my-3" data-toggle="modal" data-target="#projectModal" (click)="showModal('EarnBet')">
                        <p class="text-white">EarnBet</p>
                    </div>
                    <div class="col-12 project bethehouse w-50 py-5 mx-auto my-3" data-toggle="modal" data-target="#projectModal" (click)="showModal('BeTheHouse')">
                        <p class="text-white">BeTheHouse</p>
                    </div>
                    <div class="col-12 project stacker w-50 py-5 mx-auto my-3" data-toggle="modal" data-target="#projectModal" (click)="showModal('Stacker')">
                        <p class="text-white">Stacker Ventures</p>
                    </div>
                    <div class="col-12">
                        <button class="see-more p-2 my-5">See More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <h4 class="text-white">About Me</h4>
        <p class="text-white">Hello! My name is Tyler Valley. I am a software developer that specializes in progressive web applications. 
            I have 5 years of experience in the MEAN stack (MySql, Express, Angular, and Node),
            as well as experience in Web3, React, and other JavaScript frameworks. <br />
            I am originally from and live in Alabama, and have worked remotely from here for the past 2 years. I also do some freelance work when I can, mostly building custom websites and apps. <br />
            I love solving problems, and I approach all of my projects as a problem to be solved. I thoroughly enjoy working with people to create solutions to problems, and to create great products that many people can enjoy.
            <br />
            I approach everything I do with my work as a learning experience, and I strive to improve at what I do constantly. I'm always learning from other people, and from solving the problems I encounter when developing applications.
            While my focus is on the front end side of web applications development, I also have the ability to work as a full stack or back end developer. 
            <br/>
            I look forward to working on new and exciting projects, I'm always learning, and I'm always having fun with programming.
        </p>
        <button class="see-more p-2 my-5">Read More</button>
    </div>    
</div>


<modal *ngIf="modalActivated"></modal>


