@import '../../../styles.scss';

.home-page {
    background: $navy;

    .information {
        margin-top: 100px;
        background-image: url('https://media.giphy.com/media/KX81UwrGWMbGH0WvWR/giphy.mp4');
        .icons {
            img {
                height: 60px;
                width: 60px;
            }
        }
    }

    .cards {
        .card {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            .card-title {
                background-color: $teal;
                border-radius: 8px;
            }
        }
        .projects-card {
            background-image: url('../../../assets/img/home/earnbet.png');
        }
        .about-card {
            background-image: url('../../../assets/img/home/pexels-luis-gomes-546819.jpg');
        }
        .contact-card {
            background-image: url('../../../assets/img/home/pexels-tyler-lastovich-699122.jpg');
        }
    }

   
}