<div class="projects text-center py-5">
    <h1 class="text-cyan">My Projects</h1>
    <p class="text-light-grey my-5">Here are some examples of projects that I've worked on through work, and through personal projects that I've done on my own.</p>

    <div class="container my-5 tech py-3">
        <div class="row">
            <div class="col-4 framework">
                <h4 class="text-light-grey">Angular</h4>
            </div>
            <div class="col-4 framework">
                <h4 class="text-light-grey">React</h4>
            </div>
            <div class="col-4 framework">
                <h4 class="text-light-grey">Other</h4>
            </div>
        </div>
    </div>

    <div class="container my-5 projects-section angular">
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/home/bethehouse.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">BeTheHouse</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                      <a href="" class=""></a>
                    </div>
                  </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
