/* You can add global styles to this file, and also import other style files */
html, body {
    position: relative;
}

//variables 
$black: #0B0C10;
$dark-grey: #1F2833;
$light-grey: #C5C6C7;
$cyan: #66FCF1;
$teal: #45A29E;
$white: #FFFFFF;


//background-colors
.background-black {
    background: $black;
}
.background-transparent {
    background: transparent;
}

//text-colors
.text-cyan {
    color: $cyan;
}

.text-white {
    color: $white;
}

//fonts
h1, h3 {
    font-family: 'Libre BaskerVille', serif;
    font-size: 100px;
}


h5, p {
    font-family: 'Source Sans Pro', sans-serif;
}



