/* You can add global styles to this file, and also import other style files */


//page colors 

$navy: #25274D;
$purple: #464866;
$off-white: #AAABB8;
$cyan: #2E9CCA;
$teal: #29648A;


//text-colors 
$text-white: #FFFFFF;
$text-black: #000000;


//fonts

h1, h3 {
    font-family: 'Libre BaskerVille', serif;
}


h5, p {
    font-family: 'Source Sans Pro', sans-serif;
}



