<!-- MOBILE NAVIGATION -->
<nav class="navbar fixed-bottom navbar-expand-lg background-black d-lg-none px-4">
	
  	<button class="navbar-toggler d-flex align-items-center my-2" type="button" data-toggle="collapse"
		data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<p class="text-white font-weight-bold my-auto">Menu</p>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav d-flex flex-row align-items-center justify-content-between">
			<li class="nav-item">
				<a class="nav-link text-white" routerLink="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" routerLink="">About</a>
			</li> 	
			<li class="nav-item">
				<a class="nav-link text-white" routerLink="">Projects</a>
			</li>
            <li class="nav-item">
				<a class="nav-link text-white" routerLink="">Contact</a>
			</li>
		</ul>
	</div>
</nav>


<!-- BROWSER NAVIGATION -->
<nav class="d-none d-lg-flex align-items-center browser-navigation background-transparent">
	<a class="nav-link text-white" routerLink="">Home</a>

	<a class="nav-link text-white" routerLink="/about">About</a> 

	<a class="nav-link text-white" routerLink="/projects">Projects</a>

    <a class="nav-link text-white" routerLink="/contact">Contact</a>
	
</nav>
