@import '../../../styles.scss';

nav {
    .navbar-toggler-icon {
        background-image: url("/assets/img/navigation/icon-menu.svg");
        height: 20px;
        width: 20px;
        margin-left: 15px;
    }
}

.browser-navigation {
    position: fixed;
}